.header-banner {
  width: 100%;                        
  height: 40vh;
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url('../Pictures/Black_and_white/Sing.jpg');
  background-size: cover;              
  background-position: center 20%;
  display: flex;                       
  flex-direction: column;              
  justify-content: flex-end;
  align-items: center;                
  color: white;                        
  text-align: center;

  padding-bottom: 10px;
}

.header-banner nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-top: 10px;
}

.header-banner nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.header-banner h1 {
  font-size: 48px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* 给文字加点阴影，提高可读性 */
}

body{
    background: #303840;
    color: #F5F5F5;
}

h2{
    padding: 5px 0;
    border-bottom: 3px solid rgba(30,144,255,0.1);
}

a{
    text-decoration: none;
    color: #1E90FF;
    padding: 2px 4px;
}
/* Deepen color while mouse on that.*/
a:hover{
    color: #0084ff;
    background-color: rgba(30,144,255,0.1);
    border-radius: 8px;
    transition: color 0.2s ease;
}

section{
    width: 100%;
    padding: 5px 0;
}

#about{
    border-bottom: 5px solid #F5F5F5;
    margin-top: 5px;
}

#artworks-section{
    border-bottom: 5px solid #F5F5F5;
    margin-top: 5px;
}

.contact{
    border-top: 2px solid #ddd;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;

    font-size: 14px;
    color: #333;
}

footer{
    text-align: center;
    color: grey;
}


.project_grid{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card-link {
    flex: 0 0 calc(33.333% - 13.333px);
    text-decoration: none;
    color: inherit;
    display: block;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-link:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    transform: translateY(-5px);
    /*border-color: #2196F3;*/
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: relative;
    top: 2px;
}

.card-text {
    padding: 16px;
    line-height: 1.6;
}

.card-text h3 {
    margin-bottom: 8px;
    color: #fff;
}

.card-text p {
    color: #666;
    font-size: 14px;
}